/*
    ----------------------------
    ----- 1. Global Styles -----
    ----------------------------
*/

body {
  background: url(../images/growshow-background1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
  font-family: 'Ultra', serif;
  color: #5d3e25;
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

p {
  font-family: 'Oswald', sans-serif;
}

a {
  color: #5d3e25;
}

a:vistied {
  color: #5d3e25;
}

a:hover {
  text-decoration: none;
  color: #c16920;
}

small {
  color: #a9a9a9;
  font-family: 'Oswald', sans-serif;
}

i
{
  color: #5d3e25;
  display: inline-block;
  border-radius: 100px;
  box-shadow: 0px 0px 6px #888;
  margin-bottom: 15px;
}

.panel-body {
  background-color: #eeeeee;
}

.blockLink
{

}
.well {
  background: url(../images/linedpaper.png) repeat center;
  box-shadow: 5px 5px 2px #888888;
}

.overlay{
  background-color: rgba(255, 255, 255, .8);
  padding: 15px 30px;
  margin-bottom: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #bdbe31;
    border-color: #bdbe31;
    box-shadow: 3px 3px 1px #888888;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #c16920;
    border-color: #c16920;
    box-shadow: 3px 3px 1px #888888;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #5d3e25;
    border-color: #5d3e25;
    box-shadow: 3px 3px 1px #888888;
}

.btn-default {
    box-shadow: 3px 3px 1px #888888;
}

.panel-default > .panel-heading {
  background-color: #5d3e25;
  color: #fff;
}

/*
    ----------------------------
    ----- 2. Nav Bar -----------
    ----------------------------
*/


.jumbotron {
  background-color: rgba(238, 238, 238, .9)
}

.rightIndent {
  margin-right: 1em;
}

/* navbar */
.navbar-default {
    background-color: #5d3e25;
    border-color: #5d3e25;
}
/* Title */
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d9d9d9;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d9d9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

#brandLogo {
  height: 25px;
  margin-bottom: 5px;
}

/*
    ----------------------------
    ----- 3. Dashboard ---------
    ----------------------------
*/
.allDashImg {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.dashCreate {
  margin: 10px 0;
  font-size: 150%;
}

.dashBtn {
    width:60%;
}

.dashWell {
  width: 99%;
  margin-left: 10px:
}

.allPostHeading {
  color: #c16920;
  font-family: 'Oswald', sans-serif;
}

/*
    ----------------------------
    ----- 4. Profile -----------
    ----------------------------
*/

.profileTitle {
  color: #fff;
}

.profileAvatar {
  margin-left: 50px;
  box-shadow: 3px 3px 2px #888888;
}

/*
    ----------------------------
    ----- 5. post.index --------
    ----------------------------
*/

#RGBlogo {
  width: 60%;
  margin-left: 1.em;
}

#indexTitle {
  color: #5d3e25;
  font-size: 325%;
}

.author {
  font-size: 150%;
  font-family: 'Ultra', serif;
  color: #bdbe31;
  margin-left: 5px;
}

.authorAvatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 50px;
  box-shadow: 3px 3px 2px #888888;
}

.indexStrain {
  color: #c16920;
}

.indexBtn {
  width: 100px;
}

.allGrowsImg {
    height: 120px;
    width: 100%;
    object-fit: cover;
}

/*
    ----------------------------
    ----- 6. about blade -------
    ----------------------------
*/

.aboutTitle {
  color: #5d3e25;
}

.appName {
  color: #c16920;
}

.aboutCopy {
  text-indent: 30px;
  font-size: 150%;
}

.aboutAddress {
  font-size: 125%;
  color: #c16920;
  margin-top: 10px;
}

#aboutLogo {
  width: 100%;
}

/*
    ----------------------------
    ----- 7. post.show ---------
    ----------------------------
*/

.strain {
  color: #c16920;
}

.postInputHeading {
  font-family: 'Oswald', sans-serif;
  margin-left: 20px;
}

.postInputResult {
  color: #c16920;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;

}
.goBack {
  margin-bottom: 15px;
}

.navBtn {
  margin-bottom: 15px;
  margin-left: 5px;
}

.cropParam {
  height: 400px;
}

.CropImg {
  height: 400px;
  object-fit: cover;
}

.allWeekImg {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.notesWell {
  min-height: 200px;
}
.postNotes {
  font-size: 170%;
}

.addWeekBtn {
  margin-left: 5px;
}

.notLogInMsg {
  line-height: 1.4em;
}
.commenterName {
  position: absolute;
  font-size: 175%;
  margin-left: 15px;
}

.comment-body {
  font-size: 150%;
}

.top {
    text-align: center;
    margin-bottom: 20px;
}

.circle-icon {
    cursor: pointer;
    background: #fff;
    padding:10px;
    border-radius: 50%;
}

/*
    ----------------------------
    ----- 8. week.show ---------
    ----------------------------
*/

.weekImg {
    height: 500px;
    object-fit: cover;
}

.weekCatHeading {
  font-family: 'Oswald', sans-serif;
  margin-left: 20px;
}

.weekInputResult {
  color: #c16920;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;
}

.weekNotes {
  font-size: 170%;
}

/*
    ----------------------------
    ----- 9. week.edit ---------
    ----------------------------
*/
.weekSubmit {
  margin-left: 15px;
}

/*
    ----------------------------
    ----- 9. media queries -----
    ----------------------------
*/

@media (max-width: 768px) {
  .authorAvatar {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .authorAvatar {
    margin-left: 50px;
  }
}
